body{
  background-color: grey;
 
  
}
:root{
  color: grey;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
a{
    color: green;text-decoration: none;

}
.format-text{
  text-transform: capitalize;
}
section{
  max-width: 350px;

  border: 1px solid grey;
  border-radius: 1%;
  margin-top: auto;

  background-color: rgb(228, 222, 222);
  text-align: center;
}
.header{
  padding: 5% 0;
  font-size: 2em;
  color: rgb(70, 69, 69);
}
.header::before, .header::after{
content: "_______" ;
color: grey;
}
.header::before{
  position:relative; 
  bottom: 10px; left: -5px;
}
.header::after{
  position:relative; 
  bottom: 10px;left: 5px;
}
.header-intruction{
  padding-bottom: 10%;
}